* {
  box-sizing: border-box;
}

.wrapper{
	background-image: url("../images/concrete-texture.png");
	width: auto;
	height: auto;
}

body{
	background-image: url("../images/concrete-texture.png");
	max-width: auto;
	margin: 0 auto;
}

#menuwrapper{
	background-color: #fff;
	border-bottom: 2px solid #eee;
	margin-bottom: 50px;
}

#topmenu{ 
	height: 65px;
	background-color: #fff;
	max-width: 960px;
	margin:0px auto;
}

header{
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 35px;
	background-color:#4aaaa5;
	color: #fff;
	width: 300px;
	height: 65px;
	padding: 13px;
	margin: auto;
}

nav{
	background-color: #fff;
	height: 65px;
	float: right;
	width:203px;
}

h3{
	float:left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding-right: 10px;
	margin: 0px;
	border-height: 20px;
	line-height: 63px;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #fff;
	color: #4aaaa5;
	border-bottom: 3px solid #e4e4e4;
	margin: 0px 0px 5px 0px;
	font-size: 20px;
}

#main-content{
	max-width: 960px;
	margin: 0px auto
}

section{
	position: relative;
	float: left;
	padding: 30px;
	border: 1px solid #e4e4e4;
	background-color: #fff;
	width: 650px;
	height: auto;
	margin-bottom: 25px;
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #fff;
	color: #4aaaa5;
	border-bottom: 3px solid #e4e4e4;
	width: 550px
	margin: 0px;
	margin-bottom: 15px;
	font-size: 30px;
}

#photo{
	float: left;
	margin: 0px 15px 15px 0px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

h5{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	padding-right: 10px;
	margin: 0px;
	margin-top: 5px;
	border-height: 20px;
}

input{
	width: 410px;
	margin: 5px 0px;
}

textarea{
	width: 410px;
	height: 300px;
}

button{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #fff;
	padding: 5px 10px;
	background-color: #4aaaa5;
	margin: 10px 0px;
	height: 35px; 
	width: 90px;
	padding: 0;
	border: none;
	font-size: 15px;
}

#workexamples{
	position: relative;
	margin: 15px 40px 5px 0px;
	z-index: 1;
}

h4, #h4tl, #h4tr #h4bl, #h4br{
	position: absolute;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #fff;
	background-color: #4aaaa5;
	width: 250px;
	height: 60px;
	line-height: 60px;
	z-index: 2;
	top: 225px;
}

#h4tr{
	left: 324px;
	/*margin: 15px 40px 5px 0px;
	float: right;*/
}

#h4bl{
	top: 450px;
}

#h4br{
	top: 450px;
	left: 324px;
/*	float: right;
	margin: 15px 40px 5px 0px;*/
}

aside {
	float: right;
	padding: 30px 20px 10px 20px;
	border: 1px solid #e4e4e4;
	background-color: #fff;
	width: 270px;
	height: 165px;
	margin-bottom: 20px;
}

#social{
	height: 75px;
	width:  75px;
}

#social2{
	margin: 2px 0px;
	height: 68px;
	width:  68px;
}

footer{
	clear: both;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #666666;
	color: #938a80;
	height: 95px;
	border-top: 8px solid #4aaaa5;
	line-height: 95px;
	width: 100%;
}


@media screen and (max-width: 980px) {
body {
   max-width: 100%;
	}

	.wrapper {
		width: 100%;
	}

	#topmenu,
	footer {
	    width: 100%;
	}

	#main-content{

	}
	
	section {
		width: 55%;
		margin-left: 20px;
	}

	aside{
		margin-right: 20px;
	}

	textarea,
	input {
		width: 70%;
	}

}

@media screen and (max-width: 768px) {
	body {
		max-width: 100%;
	 }

	.wrapper {
	   width: 100%;
	}

	#topmenu
	footer {
	   width: 100%;
	}

	section {
		width: 100%;
		margin-left: 20px;
	}

	aside {
		float: left;
		width: 100%;
		margin-left: 20px;
	}
}

@media screen and (max-width: 640px) {
	body {
		max-width: 100%;
	}

	.wrapper {
	    width: 100%;
	}

	#topmenu,
	footer {
	    width: 100%;
	}

	header{
		width:100%;
	}

	nav{
		float:left;
		width:100%;
		align-content: center;
	}

	h3{
		
	}

	section{
		width: 100%;
		padding: 20px;
		margin-top: 30px;
	}

	aside{
		float: left;
		width: 100%;
	}
}